<!-- Firebase Configuration -->
<script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-auth-compat.js"></script>

<script>
    const firebaseConfig = {
        apiKey: "{{ config.FIREBASE_API_KEY }}",
        authDomain: "{{ config.FIREBASE_AUTH_DOMAIN }}",
        projectId: "{{ config.FIREBASE_PROJECT_ID }}",
        storageBucket: "{{ config.FIREBASE_STORAGE_BUCKET }}",
        messagingSenderId: "{{ config.FIREBASE_MESSAGING_SENDER_ID }}",
        appId: "{{ config.FIREBASE_APP_ID }}"
    };

    // Initialize Firebase
    if (!firebase.apps.length) {
        firebase.initializeApp(firebaseConfig);
    }
    window.auth = firebase.auth();
</script>